doctype html  
html  
    haed 
        block webtitle 
            title 標題
    body 
        block h1 title  
            h1 這是測試  
            h2 哈囉哈囉
        block postcontent  
            div 這是測試內容              
